In [79]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [80]:
dataset=pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/breast-cancer-wisconsin/breast-cancer-wisconsin.data",names=[
    "Sample code number","Clump Thickness","Uniformity of Cell Size","Uniformity of Cell Shape",
    "Marginal Adhesion","Single Epithelial Cell Size","Bare Nuclei","Bland Chromatin",
    "Normal Nucleoli","Mitoses","Class"
])

In [81]:
dataset.head()

,Sample code number,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2

In [82]:
dataset.shape

(699, 11)

In [83]:
dataset['Class'].value_counts()

2    458
4    241
Name: Class, dtype: int64

In [84]:
dataset['Class'].unique()

array([2, 4], dtype=int64)

In [85]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 699 entries, 0 to 698
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Sample code number           699 non-null    int64
 1   Clump Thickness              699 non-null    int64
 2   Uniformity of Cell Size      699 non-null    int64
 3   Uniformity of Cell Shape     699 non-null    int64
 4   Marginal Adhesion            699 non-null    int64
 5   Single Epithelial Cell Size  699 non-null    int64
 6   Bare Nuclei                  699 non-null    object
 7   Bland Chromatin              699 non-null    int64
 8   Normal Nucleoli              699 non-null    int64
 9   Mitoses                      699 non-null    int64
 10  Class                        699 non-null    int64
dtypes: int64(10), object(1)
memory usage: 60.2+ KB

In [86]:
dataset=dataset.drop(['Sample code number'],axis=1)

In [87]:
dataset.shape

(699, 10)

In [88]:
dataset.head()

,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class
0,5,1,1,1,2,1,3,1,1,2
1,5,4,4,5,7,10,3,2,1,2
2,3,1,1,1,2,2,3,1,1,2
3,6,8,8,1,3,4,3,7,1,2
4,4,1,1,3,2,1,3,1,1,2

In [89]:
dataset['Bare Nuclei'].unique()

array(['1', '10', '2', '4', '3', '9', '7', '?', '5', '8', '6'],
      dtype=object)

In [90]:
dataset=dataset.replace('?',np.NaN)

In [91]:
for col in dataset.columns:
    print("\t %s:%d"%(col,dataset[col].isna().sum()))

	 Clump Thickness:0
	 Uniformity of Cell Size:0
	 Uniformity of Cell Shape:0
	 Marginal Adhesion:0
	 Single Epithelial Cell Size:0
	 Bare Nuclei:16
	 Bland Chromatin:0
	 Normal Nucleoli:0
	 Mitoses:0
	 Class:0

In [92]:
dataset['Bare Nuclei']=dataset['Bare Nuclei'].fillna(dataset['Bare Nuclei'].median())

In [93]:
dataset['Bare Nuclei']=dataset['Bare Nuclei'].astype(int)

In [94]:
dataset.dtypes

Clump Thickness                int64
Uniformity of Cell Size        int64
Uniformity of Cell Shape       int64
Marginal Adhesion              int64
Single Epithelial Cell Size    int64
Bare Nuclei                    int32
Bland Chromatin                int64
Normal Nucleoli                int64
Mitoses                        int64
Class                          int64
dtype: object

In [95]:
X=dataset.drop("Class",axis=1)
Y=dataset['Class']

In [96]:
X.head()

,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses
0,5,1,1,1,2,1,3,1,1
1,5,4,4,5,7,10,3,2,1
2,3,1,1,1,2,2,3,1,1
3,6,8,8,1,3,4,3,7,1
4,4,1,1,3,2,1,3,1,1

In [97]:
Y.head()

0    2
1    2
2    2
3    2
4    2
Name: Class, dtype: int64

In [98]:
from sklearn.model_selection import train_test_split
Xtrain,Xtest,Ytrain,Ytest=train_test_split(X,Y,test_size=0.2,random_state=4)

In [99]:
from sklearn import svm
model=svm.SVC(kernel='linear')
model.fit(Xtrain,Ytrain)
ypredict=model.predict(Xtest)

In [100]:
from sklearn import metrics
from sklearn.metrics import classification_report
print(classification_report(Ytest,ypredict))
print("Accuracy=",metrics.accuracy_score(Ytest,ypredict))
print("F1 score=",metrics.f1_score(Ytest,ypredict,pos_label=2))
print("Recall=",metrics.recall_score(Ytest,ypredict,pos_label=2))
print("precision=",metrics.precision_score(Ytest,ypredict,pos_label=2))

              precision    recall  f1-score   support

           2       0.98      0.99      0.98        88
           4       0.98      0.96      0.97        52

    accuracy                           0.98       140
   macro avg       0.98      0.98      0.98       140
weighted avg       0.98      0.98      0.98       140

Accuracy= 0.9785714285714285
F1 score= 0.983050847457627
Recall= 0.9886363636363636
precision= 0.9775280898876404

In [101]:
from sklearn.naive_bayes import GaussianNB
model=GaussianNB()
model.fit(Xtrain,Ytrain)
ypredict=model.predict(Xtest)
from sklearn import metrics
from sklearn.metrics import classification_report
print(classification_report(Ytest,ypredict))
print("Accuracy=",metrics.accuracy_score(Ytest,ypredict))
print("f1 score=",metrics.f1_score(Ytest,ypredict,pos_label=2))
print("precision=",metrics.precision_score(Ytest,ypredict,pos_label=2))
print("recall=",metrics.recall_score(Ytest,ypredict,pos_label=2))

              precision    recall  f1-score   support

           2       0.98      0.97      0.97        88
           4       0.94      0.96      0.95        52

    accuracy                           0.96       140
   macro avg       0.96      0.96      0.96       140
weighted avg       0.96      0.96      0.96       140

Accuracy= 0.9642857142857143
f1 score= 0.9714285714285714
precision= 0.9770114942528736
recall= 0.9659090909090909